beautifulsoup4
comtypes
edge-tts
fastapi
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gTTS
langchain
langchain-anthropic
langchain-community
langchain-core
langchain-google-genai
langchain-openai
lxml
mss
notion-client
numpy
openai
opencv-python-headless
psutil
pycaw
pydantic
pydantic-settings
pygame-ce
pymongo
pyperclip
python-dotenv
python-vlc
pyttsx3
pywin32
requests
tavily-python
ultralytics
uvicorn
winshell
yt-dlp
paddlepaddle
paddleocr
pvporcupine
SpeechRecognition
chromadb
