beautifulsoup4
chromadb
comtypes
customtkinter
edge-tts
fastapi
faster-whisper
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gTTS
langchain
langchain-anthropic
langchain-community
langchain-core
langchain-google-genai
langchain-openai
lxml
mss
notion-client
numpy
openai
opencv-python-headless
paddleocr
paddlepaddle
pandas
Pillow
psutil
pvporcupine
pyaudio
pycaw
pydantic
pydantic-settings
pygame-ce
pymongo
pyperclip
python-dotenv
python-vlc
pywin32
requests
SpeechRecognition
tavily-python
torch
torchaudio
ultralytics
uvicorn
winshell
yt-dlp
